{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'app/css/account.css' %}">
</head>
<body>
<div class="container mt-4">
    <h2 class="text-center mb-3">Привет, {{ request.user }}!</h2>

    <div class="mb-3">
        <h3>Настройки аккаунта</h3>
        <ul class="list-unstyled">
            <li><a href="#" class="d-block">Изменить профиль</a></li>
            <li><a href="#" class="d-block">Сменить пароль</a></li>
        </ul>
    </div>

    <div class="mb-3">
        <h3>Другое</h3>
        <ul class="list-unstyled">
            <li><a href="#" class="d-block">Экспортировать в json</a></li>
        </ul>
    </div>

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-block">Выйти</button>
    </form>
    <a href="{% url 'today_tasks' %}" class="btn btn-outline-secondary btn-block mt-2">Назад</a>
</div>
</body>
</html>
