{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'app/css/account.css' %}">
</head>
<body>
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Настройки аккаунта</h2>
            <div class="settings-section mb-3">
                <a href="{% url 'email-change' %}" class="btn btn-primary btn-block mb-2">Сменить почту</a>
                <a href="{% url 'password_reset' %}" class="btn btn-primary btn-block mb-2">Сменить пароль</a>
            </div>
            <div class="settings-section mb-3">
                <a href="{% url 'export_json' %}" class="btn btn-primary btn-block mb-2">Экспортировать в json</a>
            </div>
            <div class="settings-section mb-3">
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-block">Выйти</button>
                </form>
            </div>
            <a href="{% url 'today_tasks' %}" class="btn btn-outline-secondary btn-block">Назад</a>
        </div>
    </div>
</div>
</body>
</html>
