body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Изменено с center на flex-start */
    height: 100vh;
    overflow-y: auto; /* Добавлено для поддержки прокрутки */
}

.container {
    width: 90%;
    max-width: 600px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
}

.group-list {
   position: absolute;
   left: 0;
   top: 0;
   width: 250px;
    height: 100%;
    background: white;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
}

.group-list ul {
    list-style: none;
    padding: 0;
}

.group-list ul li {
    padding: 10px;
    border-bottom: 1px solid #444;
}

.group-list ul li:hover {
    cursor: pointer;
}

.group-list ul li a{
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin: 0;
}

.account-settings {
    position: fixed;
    right: 10px;
    top: 10px;
}

.new-task-input-group {
    display: flex;
    width: 100%; /* Занимаем всю ширину родительского элемента */
    margin-bottom: 10px; /* Если нужен отступ снизу */
}

.new-task {
    flex-grow: 1;
    border: none;
    padding: 10px;
    outline: none;
    /* Убираем правый радиус, т.к. он будет у кнопки */
    border-radius: 5px 0 0 5px;
}

.add-btn {
    display: flex;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px; /* Увеличен отступ для лучшей видимости */
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease; /* Добавлена анимация для плавности */
}


.add-btn:hover {
    background: #0056b3;
}

.delete-btn {
    cursor: pointer;
    color: red;
    border: none;
    background: none;
}

.task-checkbox {
    margin-right: 10px;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-list li {
    padding: 15px;
    background: #eee;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: #eee;
    margin-bottom: 10px;
    border-radius: 5px;
}

.delete-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.task-checkbox {
    margin-right: 10px;
}