{% extends 'auth_base.html' %}

{% block title %}
    Потверждение почты 
{% endblock %}

{% block auth_form %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-white border-0">
                        <h3 class="mb-0 text-center">Потверждение почты</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Для подтверждения почты следуйте интсрукциям, которые были высланы на указанный ранее адрес.</p>
                        <a href="{% url 'login' %}" style="text-decoration: none;">
                            <button class="btn btn-outline-secondary btn-block">Назад</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock auth_form %}
