{% load i18n %}{% autoescape off %}
    {% blocktranslate %}Вы получили это письмо, поскольу вам необходимо подтвердить почту на сайте {{ site_name }}. Для
        подтверждения пройдите по ссылке ниже.{% endblocktranslate %}

    {% block reset_link %}
        http://{{ domain }}{% url 'email_verify' uidb64=uid token=token %}
    {% endblock %}
    {% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

    {% translate "Thanks for using our site!" %}

    {% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
