{% extends 'auth_base.html' %}

{% block title %}
    Авторизация
{% endblock title %}

{% block auth_form %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-white border-0">
                        <h3 class="mb-0 text-center">Авторизация</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username"></label>
                                <input placeholder="Имя пользователя или email" type="text" class="form-control" id="username" name="username" required>
                                <label for="password"></label>
                                <input placeholder="Пароль" type="password" class="form-control" id="password" name="password" required>
                            </div>
                            {% if form.errors %}
                                <br>
                                <div class="alert alert-danger">
                                    {{ form.errors.as_text }}
                                </div>
                            {% endif %}
                            <input type="submit" class="btn btn-primary btn-block" value="Войти ">
                        </form>
                        <hr>
                        <div class="mt-3">
                            <a href="{% url 'social:begin' 'github' %}" style="text-decoration:none;">
                                <button class="btn btn-dark btn-block">Войти через GitHub</button>
                            </a>
                            <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-decoration:none;">
                                <button class="btn btn-danger btn-block">Войти через Google</button>
                            </a>
                        </div>
                        <p class="text-center mt-3">
                            Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a>
                        </p>
                        <p class="text-center">
                            Забыли пароль? <a href="{% url 'password_reset' %}">Восстановить</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock auth_form %}
