{% extends 'auth_base.html' %}

{% block title %}
    Восстановление пароля
{% endblock title %}

{% block auth_form %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                Пароль изменен
            </div>
            <div class="card-body">
                <p class="text-center">Ваш пароль был успешно изменен.</p>
                <a href="{% url 'login' %}" class="btn btn-outline-primary btn-block">Войти</a>
            </div>
        </div>
    </div>
{% endblock auth_form %}
