{% extends 'auth_base.html' %}

{% block title %}
    Восстановление пароля
{% endblock title %}

{% block auth_form %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            Восстановление пароля
        </div>
        <div class="card-body">
            <p class="text-center">Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкции, как установить новый пароль.</p>
            <form method="POST" action="{% url 'password_reset' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Адрес электронной почты" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Восстановить мой пароль</button>
            </form>
        </div>
    </div>
</div>
{% endblock auth_form %}
