{% extends 'auth_base.html' %}

{% block title %}
    Восстановление пароля
{% endblock title %}

{% block auth_form %}
    <div class="container mt-5">
        <div class="card">
            {% if form %}
                <div class="card-header text-center">
                    Установка нового пароля
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block">Установить новый пароль</button>
                    </form>
                </div>
            {% else %}
                <div class="card-header text-center">
                    Восстановить пароль не получится..
                </div>
                <div class="card-body text-center">
                    <p>Данная ссылка уже не активна. Увы.</p>
                    <a href="{% url 'login' %}">
                        <button type="submit" class="btn btn-primary btn-block">Перейти на страницу входа</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock auth_form %}
