{% extends 'auth_base.html' %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block auth_form %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-white border-0">
                        <h3 class="mb-0 text-center">Восстановление пароля</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Введите ваш адрес эл. почты, и мы вышлем на него иструкции по восстановлению пароля.</p>
                        <form method="POST" action="#">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email"></label>
                                <input placeholder="Aдрес эл. почты" type="text" class="form-control" id="email" name="email" required>
                            </div>
                            {% if form.errors %}
                                <br>
                                <div class="alert alert-danger">
                                    {{ form.errors.as_text }}
                                </div>
                            {% endif %}
                            <input type="submit" class="btn btn-primary btn-block" value="Сменить">
                        </form>
                        <a href="{% url 'login' %}" style="text-decoration: none;">
                            <button class="btn btn-outline-secondary btn-block">Назад</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock auth_form %}
