{% extends 'auth_base.html' %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block auth_form %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-white border-0">
                        <h3 class="mb-0 text-center">Восстановление пароля</h3>
                    </div>
                    <div class="card-body">
                        {% if form %}
                            <p class="text-center">Заполните форму</p>
                            <form method="POST" action="#">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="new_password1"></label>
                                    <input placeholder="Пароль" type="password" class="form-control" id="new_password1"
                                           name="new_password1" required>

                                    <label for="new_password2"></label>
                                    <input placeholder="Повторите веденный ранее пароль" type="password" class="form-control" id="new_password2"
                                           name="new_password2" required>
                                </div>
                                {% if form.errors %}
                                    <br>
                                    <div class="alert alert-danger">
                                        {{ form.errors.as_text }}
                                    </div>
                                {% endif %}
                                <input type="submit" class="btn btn-primary btn-block" value="Сменить пароль">
                            </form>
                        {% else %}
                            <p class="text-center">Увы, время действия ссылки истекло. Заполните форму восстановления заново.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock auth_form %}
