{% extends 'template_base.html' %}

{% block title %}
    Шаблоны
{% endblock %}

{% block content %}

    <div class="to-do-list-button">
        <a href="{% url 'template-list' %}" style="text-decoration: none">
            <button class="add-btn">Назад</button>
        </a>
    </div>

    <div class="account-settings">
        <a href="{% url 'template-create' %}" style="text-decoration: none">
            <button class="add-btn">Добавить</button>
        </a>
    </div>

    <div class="container mt-4">
        {% if templates %}
            {% for template in templates %}
                <div class="card">
                    <div class="card-body">
                        <p class="text-center">{{ template.name }}</p>
                        <p class="text-center">Автор: {{ template.user }}</p>
                        <p class="text-center">Загрузок: {{ template.downloads }}</p>
                        <a href="{% url 'template-detail' template.id %}" class="btn btn-outline-secondary btn-block">Посмотреть
                            подробнее</a>
                        <a href="{% url 'template-update' template.id %}" class="btn btn-primary btn-block">Изменить</a>
                        <a href="#" class="btn btn-danger btn-block">Удалить</a>
                    </div>
                </div>
                <br>
            {% endfor %}
        {% else %}
            <div class="card">
                <div class="card-body">
                    <p class="text-center">Пока что у вас нет шаблонов.</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
