{% extends 'template_base.html' %}

{% block title %}
    Шаблон
{% endblock %}

{% block content %}
    <!--comm-->
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <p class="text-center">{{ template.name }}</p>
                <p class="text-center">Автор: {{ template.user }}</p>
                <p class="text-center">Загрузок: {{ template.downloads }}</p>
                <a href="{% url 'template-download' template.id %}" class="btn btn-primary btn-block">Установить</a>
                <a href="{% url 'template-list' %}" class="btn btn-outline-secondary btn-block">Назад</a>
            </div>
        </div>
        <br>
    </div>
{% endblock %}
