{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <title>Todo List</title>
</head>
<body>

<div class="group-list">
    <ul>
        {% include 'app/groups.html' %}
    </ul>
    <div>
        <a href="{% url 'group_list' %}">
            <button class="add-btn">Управлять группами</button>
        </a>
    </div>
</div>

<div class="container">
    <div class="header">
        {% block group_title %}
        {% endblock group_title %}
        {% block add_button %}
        {% endblock add_button %}
        <div class="account-settings">
            <a href="{% url 'account_info' %}">
                <button class="add-btn">Аккаунт</button>
            </a>
        </div>
    </div>

    <div class="form-container">
        {% block form %}
        {% endblock form %}
    </div>

    <ul class="task-list">
        {% block task_list %}
        {% endblock task_list %}
    </ul>
</div>

</body>
</html>
